<!DOCTYPE html>
<html>
    <head>
        <title>Labrats</title>
    </head>

    <body>
       <!-- <h1>Register with Labrats</h1> -->

       		This is <strong> {{experiment_detail.title}} </strong>experiment page
		<ul>
			<li>description : {{experiment_detail.description}}</li>
			<li>requirements : {{experiment_detail.requirements}}</li>
			<li>Reward : {{experiment_detail.reward}}</li>
			<li>Maximum Participants : {{experiment_detail.max_participants}}</li>
			<li>Current Participants : {{experiment_detail.num_of_participants}}</li>
		</ul> 
		<a href="/labRatsApp/"> <button> Back to Homepage</button> </a>
    </body>
</html>

