{% extends 'labRatsApp/base.html' %}

{% block mainbody %}

	<div class="row">
		<!-- SIDEBAR -->
		<div class="col-md-2">
			<!-- Sort By -->
			<div class="form-group">
				<select class="form-control">
					<option selected>Sort By</option>
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				</select>
			</div>
			<!-- Categories panel-->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Categories</h3>
				</div>
				<div class="list-group">
					<a class="list-group-item active" href="#">Item 1</a>
					<a class="list-group-item" href="#">Item 2</a>
					<a class="list-group-item" href="#">Item 3</a>
				</div>
			</div>
			<!-- Filters panel-->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Filters</h3>
				</div>
				<ul class="list-group">
					<li class="list-group-item" href="#"><input type="checkbox"> Filter 1</li>
					<li class="list-group-item" href="#"><input type="checkbox"> Filter 2</li>
					<li class="list-group-item" href="#"><input type="checkbox"> Filter 3</li>
				</ul>
			</div>
		</div>		
		<!-- EXPERIMENTS -->
		<div class="col-md-10">

			{% for e in experiments %}

				<!-- Experiment Card -->
				<div class="panel panel-default">
					<!-- Experiment title -->
					<div class="panel-heading">						
						<div class="row">
							<h4 class="col-md-11 col-xs-8"><a href="/labRatsApp/experiment/{{e}}">{{e.title}}</a></h4>
							<div class="col-md-1 col-xs-4">
								<a class="btn btn-success pull-right">Bid</a>
							</div>
						</div>
					</div>
					<!-- Experiment body -->
					<div class="panel-body">
						<!-- Experiment description -->
						<p>{{e.description_short}}</p>
						
						<div class="row">
							<!-- Experiment requirements -->
							<div class="col-md-6">
								Participants: {{e.num_of_participants}}/{{e.max_participants}}
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="{{e.num_of_participants}}" aria-valuemin="0" aria-valuemax="{{e.max_participants}}" style="width: {{e.percent_full}}%"></div>
								</div>
							</div>
							
							<div class="col-md-6">
								<h3 class="pull-right well well-sm">Reward: <span class="glyphicon glyphicon-gbp"></span> {{e.reward}}</h3>
								
								<p class="pull-right"><strong>Tags:</strong> {{e.tags}}</p>

								<div class="clearfix"></div>
							</div>						
						</div>
					</div> <!-- end of experiment body -->
				</div> <!-- end of experiment card -->

			{% endfor %}

		</div> <!-- end of EXPERIMENTS -->
	</div> <!-- end of row -->

{% endblock %}
