{% extends 'labRatsApp/base.html' %}

{% block title %}{{user.username}}'s Profile Page{% endblock %}

{% block mainbody %}
	<div class="row">
		<!-- Profile -->
		<div class="col-md-3">
			<!-- Profile picture -->
			<div class="row">
				<div class="col-md-8 col-xs-3">
					<a href="#" class="thumbnail">
						<img data-src="holder.js/100%x180" src="media/{{userDetails.picture}}" alt="Profile picture">
					</a>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-body">
					<h3>{{user.username}}</h3>
				</div>
				<table class="table">
					<tbody>
						<tr>
							<td>Name</td>
							<td>{{user.first_name}} {{user.last_name}}</td>
						</tr>
						<tr>
							<td>Phone</td>
							<td>{{userDetails.phone}}</td>
						</tr>
						<tr>
							<td>Email</td>
							<td>{{user.email}}</td>
						</tr>
						<tr>
							<td>Age</td>
							<td>{{userDetails.age}}</td>
						</tr>
						<tr>
							<td>Role</td>
							<td>{{userDetails.userType}}</td>
						</tr>
						<tr>
							<td>School</td>
							<td>{{userDetails.school}}</td>
						</tr>
						<tr>
							<td>Website</td>
							<td><a href="#">{{userDetails.webpage}}</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<div class="col-md-9">
			<ul class="nav nav-tabs nav-justified">
				{% if user.isRat %}
					<li class="active"><a href="#currentExperiments" data-toggle="tab">Current Experiments</a></li>
					<li><a href="#bids" data-toggle="tab">Current Bids</a></li>
					<li><a href="#history" data-toggle="tab">History</a></li>
				{% else %}
					<li class="active"><a href="#activeExperiments" data-toggle="tab">Active Experiments</a></li>
					<li><a href="#pastExperiments" data-toggle="tab">Past Experiments</a></li>					
				{% endif %}
			</ul>
			
			<p></p>
			
			<!-- TAB  CONTENTS -->
			<div class="tab-content">
				{% if user.isRat %}
					<!-- Current Experiments -->
					<div class="tab-pane active" id="currentExperiments">
						{% for e in currentExperiments %}
							{% include experimentInfo.html %}
						{% endfor %}
					</div>
					<!-- Current Bids -->
					<div class="tab-pane" id="bids">
						{% for e in currentBids %}
							{% include experimentInfo.html %}
						{% endfor %}
					</div>
					<!-- History -->
					<div class="tab-pane" id="history">
						{% for e in history %}
							{% include experimentInfo.html %}
						{% endfor %}
					</div>
				{% else %}
					<!-- Active Experiments -->
					<div class="tab-pane active" id="activeExperiments">
						{% for e in currentExperiments %}
							{% include experimentInfo.html %}
						{% endfor %}
					</div>
					<!-- Past Experiments -->
					<div class="tab-pane" id="pastExperiments">
						{% for e in currentBids %}
							{% include experimentInfo.html %}
						{% endfor %}
					</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}