{% extends 'labRatsApp/base.html' %}

{% block title %}{{user.username}}'s Profile Page{% endblock %}

{% block scripts %}
	
	<script type="text/javascript">

		$(function () {

			// set lab rat details form to visible if page loads with a checked radio button
			if($("input[name='userType']:checked").val() == "rat")
				$("#labRatDetails").show();

			// toggle visibility of lab rat details form
			$("input[name='userType']").change(function(){
				if($(this).val() == "rat")
					$("#labRatDetails").show();
				else
					$("#labRatDetails").hide();
			});

		});

	</script>

{% endblock %}

{% block mainbody %}

	{% if registered %}
	 	Thank you for registering!
	{% else %}
		<h1>Edit account details</h1>

		<form id="user_form" method="post" action="/labRatsApp/editProfile/"  enctype="multipart/form-data">

			{% csrf_token %}

			<div class="row">
				<div class="col-md-6">
					{% for field in userForm %}
						<div class="form-group {% if field.errors %}has-error{% endif %}">
							<label for="id_{{ field.name }}">{{ field.label }}</label>
							{{ field.errors }}
							{{ field }}
						</div>
					{% endfor %}
				</div>

				<div id="labRatDetails" class="col-md-6">
					{% for field in userDetailsForm %}
						<div class="form-group {% if field.errors %}has-error{% endif %}">
							<label for="id_{{ field.name }}">{{ field.label }}</label>
							{{ field.errors }}
							{{ field }}
						</div>
					{% endfor %}
				</div>
			</div>

			<input class="btn btn-success" type="submit" name="submit" value="Submit" />
		</form>
	{% endif %}
	
{% endblock %}

