<!DOCTYPE html>
<html>
    <head>
        <title>Labrats</title>
    </head>

    <body>
       <!-- <h1>Register with Labrats</h1> -->

        {% if registered %}
	 	Thank you for registering
	 	<a href="/labRatsApp/">Return to the homepage.</a><br />
	{% else %}
        	<strong> {{type}} <strong>
		<form id="user_form" method = "post" action = {{url}}  enctype="multipart/form-data">
			
			{% csrf_token %}
			{{ user_form.as_p }}
			{{ user_form2.as_p }}

			<input type="submit" name="submit" value={{type}} />
		</form>
		<a href="/labRatsApp/"> <button>Return to the homepage </button></a>
	{% endif %}
	
    </body>
</html>

